/* =========================================================
   GIVEXPERT RESET LIGHT
   À charger APRÈS le CSS GiveXpert
   Sans !important
   ========================================================= */

.givexpert label {
  font-weight: inherit;
}

.givexpert h1,
.givexpert h2,
.givexpert h3 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.givexpert footer {
  border-top: 0;
}